---
import './index.css'
import First from "../components/First";
import Second from "../components/Second";
import Third from "../components/Third";
import Fourth from "../components/Fourth";
import Fifth from "../components/Fifth"
import Sixth from "../components/Sixth";
import Seventh from "../components/Seventh";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/boot.css" />
	<script src="/boot.js" is:inline />
	<title>Uday Yadav</title>
  </head>

      {/* front page */}
      <First />
      {/* about me page */}
      <Second />
      {/* education */}
      <Third />
      {/* experience */}
      <Fourth />
      {/* ach and position */}
      <Fifth />
      {/* skills */}
      <Seventh />
      {/* writing section */}
      <Sixth />
  
</html>
